@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: brown;
    margin: 0;
}
h1 {
    font-weight: 200;
    line-height: 1rem;

}
form {
    display: block;
    background: fixed;
    border-radius: 0.5rem;
    padding: 2rem 2rem;
}
div {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
}
label {
    font-size: 1.2rem;
}
input, select, button {
    padding: 0.5rem ;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}
p {
    font-size: 1rem;
}

